{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Abertura de Ticket{% endblock %}
{% block content %}
    <br>
    <br>
    <br>
    <div class="container" id="form-ticket">
        {% bootstrap_messages %}
        <h1>Abertura de Chamado</h1>
        <form action="{% url 'tickets' %}" method="post" class="form-control" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
{% endblock %}