{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Abertura de Ticket{% endblock %}
{% block Tkicon %}
<a href="#" class="nav_link active"> <i class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Users</span> </a>
{% endblock %}
{% block content %}
    <br>
    <br>
    <br>
    <div class="container">
        <p class="fs-2 fw-bolt">
            Ticket de Atendimento
        </p>
        <div class="row row-cols-4">
            <div class="col fs-6 fw-bolder">
                Atendimento:
            </div>
            <div class="col">
                {{ ticketObj.pk }}
            </div>
            <div class="col fs-6 fw-bolder">
                Solicitante:
            </div>
            <div class="col">
                {{ ticketObj.nome }}
            </div>
            <div class="col fs-6 fw-bolder">
                Data de Abertura:
            </div>
            <div class="col">
                {{ ticketObj.createDate.date.isoformat.title }}
            </div>
            <div class="col fs-6 fw-bolder">
                Local/Setor:
            </div>
            <div class="col">
                {{ ticketObj.setor }}
            </div>
            <div class="col fs-6 fw-bolder">
                Telefone/Ramal:
            </div>
            <div class="col">
                {{ ticketObj.tel_ramal }}
            </div>
            <div class="col fs-6 fw-bolder">
                Assunto/Titulo:
            </div>
            <div class="col">
                {{ ticketObj.titulo }}
            </div>
            <div class="col fs-6 fw-bolder">
                Situação:
            </div>
            <div class="col">
                {% if ticketObj.status == 0 %}
                    Aguardando Atendimento
                {% elif ticketObj.status == 2 %}
                    Em Atendimento
                {% else %}
                    Encerrado
                {% endif %}
            </div>
            <div class="col fs-6 fw-bolder">
                E-mail:
            </div>
            <div class="col">
                {{ ticketObj.email }}
            </div>
            <div class="col fs-6 fw-bolder">
                Descrição:
            </div>
            <div class="col col-lg-8">
                {{ ticketObj.dsticket }}
            </div>
        </div>
    </div>
    <div class="container">
        <p class="fs-2 fw-bolt">
            Andamento
        </p>
        {% bootstrap_messages %}
        {% if ticketObj.status == 2 %}
            <form action="{% url 'ticket' ticketObj.id_ticket %}" method="post" class="form-control" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">Registar</button>
                {% if 'Atendente' in Groups %}
                    <button type="submit" name="encerrar" class="btn btn-secondary">Encerrar</button>
                {% else %}
                {% endif %}
            </form>
        {% elif ticketObj.status == 0 %}
            <form action="{% url 'ticket' ticketObj.id_ticket %}" method="post" class="form-control" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" id="iniciaratendimento">Iniciar Atendimento</button>
            </form>
        {% else %}
            <form action="{% url 'ticket' ticketObj.id_ticket %}" method="get" class="form-control" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" id="reabrirticket">Reabrir Ticket</button>
            </form>
        {% endif %}
    </div>
    <div class="container">
        <p class="fs-2 fw-bolt">
            Histórico de Atendimento
        </p>
            <div class="row row-cols-3">
                <div class="col fs-5 fw-bolder">
                    Descrição
                </div>
                <div class="col-3 fs-5 fw-bolder">
                    Data de Regitro
                </div>
                <div class="col-2 fs-5 fw-bolder">
                    Atendente
                </div>
            </div>
                {% for hist in tablehistor %}
                        <div class="row row-cols-3">
                            <div class="col">
                                {{ hist.dstkHistories }}
                            </div>
                            <div class="col-3">
                                {{ hist.dateHistories }}
                            </div>
                            <div class="col-2">
                                {% for user in tableuser %}
                                    {% if user.id == hist.idUser %}
                                        {{ user.first_name }} {{ user.last_name }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            </div>
                {% endfor %}
        <br>
        <br>
        </div>
{% endblock %}
{% block script %}
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                    var nome = "{{ user.first_name }} {{ user.last_name }}";
                    var email = "{{ user.email }}";
                    $((document).onclick(function ()) {

                    })
                }
            )
        </script>
    {% endblock %}