{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block title %}Usuario{% endblock %}
{% block user %}active{% endblock %}
{% block content %}
    <br>
    <br>
    <br>
    <div class="container" id="form-ticket">
    {% if user.first_name != None %}
        <h1>Olá {{ user.first_name }}</h1>
    {% else %}
        <h1>Olá {{ user.username }}</h1>
    {% endif %}
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Meus Dados
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="text"><strong>Nome: </strong>{{ user.first_name}} {{ user.last_name }}</div>
                        <div class="text"><strong>Username: </strong>{{ user.username}}</div>
                        <div class="text"><strong>E-mail: </strong>{{ user.email }}</div>
                        <div class="text"><strong>Cadastro: </strong>{{ user.date_joined }}</div>
                        <div class="text"><strong>Ultimo Login: </strong>{{ user.last_login }}</div>
                        <div class="text">
                            {% if user.is_staff == True %}
                                <strong>Acesso: </strong> User Staff
                            {% elif user.is_superuser %}
                                <strong>Acesso: </strong> User Administrador
                            {% elif user.is_active %}
                                {% if permissions != 'Null' %}
                                    <strong>Lista de Permissões: </strong>
                                    <ul class="list-group">
                                    {% for unid in permissions %}
                                        <li class="list-group-item">{{ unid }}</li>
                                    {% endfor %}
                                    </ul>
                                {% else %}
                                    <strong>Grupos de Acesso: </strong>
                                    <ul class="list-group">
                                    {% for foo in groupsperm %}
                                        {% for grp in foo %}
                                            <li class="list-group-item">{{ grp }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Chamados Abertos
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% for ticket in ticketsUsersBD %}
                            {% if user.id == ticket.idUser %}
                                {% for foo in ticketsBD %}
                                    {% if foo.id_ticket == ticket.idTicket %}
                                        <div>Chamado: <a href="{% url 'ticket' foo.id_ticket %}">{{ foo.id_ticket }}</a></div>
                                        <div>Solicitante: {{ foo.nome }}</div>
                                        <div>Setor: {{ foo.setor }}</div>
                                        <div>Titulo: {{ foo.titulo }}</div>
                                        <div>Abertura: {{ foo.createDate }}</div>
                                        <div>Situação:
                                        {% if foo.status == 0 %}
                                            Aguardando Atendimento
                                        {% elif foo.status == 2 %}
                                            Em Atendimento
                                        {% else %}
                                            Encerrado
                                        {% endif %}
                                        </div>
                                        <br>
                                    {% else %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
        </div>
    </div>
{% endblock %}
{% bootstrap_javascript %}