{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Abertura de Ticket{% endblock %}
{% block tickets %}active{% endblock %}
{% block content %}
    <br>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col" style="font-style: normal">ID</div>
            <div class="col" style="font-style: normal">NOME</div>
            <div class="col" style="font-style: normal">DATA</div>
            <div class="col" style="font-style: normal">TELEFONE</div>
            <div class="col" style="font-style: normal">DESCRIÇÃO</div>
        </div>
        {% for tickets in tickets_list %}
            <div class="row">
                <div class="col-sm"><a href="{% url 'ticket' tickets.id_ticket %}">{{ tickets.id_ticket }}</a></div>
                <div class="col-sm">{{ tickets.nome }}</div>
                <div class="col-sm">{{ tickets.createDate.date.isoformat}}</div>
                <div class="col-sm">{{ tickets.tel_ramal }}</div>
                <div class="col-sm">{{ tickets.dsticket }}</div>
        {% endfor %}
    </div>

    </div>
{% endblock %}