{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Abertura de Ticket{% endblock %}
{% block tickets %}active{% endblock %}
{% block content %}
    <br>
    <br>
     <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <b>Aguardando Atendimento</b>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div id="adjust" class="container">
                             <div class="row row-cols-5">
                                <div class="col-1 fs-5 fw-bolder">ID</div>
                                <div class="col fs-5 fw-bolder">Solicitante</div>
                                <div class="col-1 fs-5 fw-bolder" >Abertura</div>
                                <div class="col-3 fs-5 fw-bolder">Situação</div>
                                <div id="ajust" class="col fs-5 fw-bolder">Descrição</div>
                             </div>
                                {% for tickets in tickets_list %}
                                <div class="row row-cols-5">
                                    <div class="col-1">
                                        <a href="{% url 'ticket' tickets.id_ticket %}">{{ tickets.id_ticket }}</a>
                                    </div>
                                    <div class="col">
                                        {{ tickets.nome }}
                                    </div>
                                    <div class="col-1 d-flex justify-content-center">
                                        {{ tickets.createDate.date.day }}/{{ tickets.createDate.date.month }}/{{ tickets.createDate.date.year }}
                                    </div>
                                    <div class="col-3">
                                        Aguardando Atendimento
                                    </div>
                                    <div class="col col-lg-4">
                                        {{ tickets.dsticket }}
                                    </div>
                                </div>
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <b>Em Atendimento</b>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div id="adjust" class="container">
                            <div class="row row-cols-5">
                                <div class="col-1 fs-5 fw-bolder">ID</div>
                                <div class="col fs-5 fw-bolder">Solicitante</div>
                                <div class="col-1 fs-5 fw-bolder" >Abertura</div>
                                <div class="col-3 fs-5 fw-bolder">Situação</div>
                                <div id="ajust" class="col fs-5 fw-bolder">Descrição</div>
                            </div>
                            {% for tickets_ea in tickets_list_ea %}
                            <div class="row row-cols-5">
                                <div class="col-1">
                                    <a href="{% url 'ticket' tickets_ea.id_ticket %}">{{ tickets_ea.id_ticket }}</a>
                                </div>
                                <div class="col">
                                    {{ tickets_ea.nome }}
                                </div>
                                <div class="col-1 d-flex justify-content-center">
                                    {{ tickets_ea.createDate.date.day }}/{{ tickets_ea.createDate.date.month }}/{{ tickets_ea.createDate.date.year }}
                                </div>
                                <div class="col-3">
                                        Em Atendimento
                                </div>
                                <div class="col col-lg-4">
                                    {{ tickets_ea.dsticket }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <b>Chamados Encerrados</b>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div id="adjust" class="container">
                        <div id="encer">
                            <div class="container">
                                <div class="row row-cols-5">
                                    <div class="col-1 fs-5 fw-bolder">ID</div>
                                    <div class="col fs-5 fw-bolder">Solicitante</div>
                                    <div class="col-1 fs-5 fw-bolder" >Abertura</div>
                                    <div class="col-3 fs-5 fw-bolder">Situação</div>
                                    <div id="ajust" class="col fs-5 fw-bolder">Descrição</div>
                                </div>
                                {% for tickets_en in tickets_list_en %}
                                <div class="row row-cols-5">
                                    <div class="col-1">
                                        <a href="{% url 'ticket' tickets_en.id_ticket %}">{{ tickets_en.id_ticket }}</a>
                                    </div>
                                    <div class="col">
                                        {{ tickets_en.nome }}
                                    </div>
                                    <div class="col-1 d-flex justify-content-center">
                                        {{ tickets_en.createDate.date.day }}/{{ tickets_en.createDate.date.month }}/{{ tickets_en.createDate.date.year }}
                                    </div>
                                    <div class="col-3">
                                            Encerrado
                                    </div>
                                    <div class="col col-lg-4">
                                        {{ tickets_en.dsticket }}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     </div>
{% endblock %}
{% bootstrap_javascript %}